

html, body {
    font-family: 'Noto Sans JP' !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: auto;
    background-color: white;
    overflow-x: hidden;

  }

 
ul,li{
    list-style: none;
    padding: 0;
    margin: 0;  
}

button{
    border: none;
    background-color: #ffffff;
    cursor: pointer;    
}

.header{
    display: flex;
    margin: 0px;
    width: 100%;
    height: 12vh;
    background-color: #ffffff;
    font-size: 0.9em;
    font-family: noto_sansJP;
    align-items: center;
    padding-left: 40px;
    position: relative;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
    z-index: 999998;
}

.header > span >img{
    width: 6vw;
    height: 6vh;
}

.navi-bar{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}


.navi-bar-menu-wrap{
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.navi-bar-menu-wrap button{
    margin-left: 1vw;
    font-weight: 600;
    font-size: 1em;
}

.navi-bar-right-wrap{
    display: flex;
    justify-content: space-evenly;
}

.navi-bar-right-wrap i{
    font-weight: 600;
    font-size: 1.6em;
}

.right-menu1{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0 36px 0 0;
}

.right-menu2{
    display: flex;
    width: 100%;
    height: 12vh;
    justify-content: center;
    align-items: center;

}

.right-menu2 > li{
    padding: 25px;
    width: 142px;
    height: 100%;
    border-left: 1px solid lightgrey;
    text-align: center;
}

.right-menu2 > li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align:baseline;
}
.right-menu2 > li  img{
    vertical-align: top;
}



.dropDown{
    position:absolute;
    z-index: 10000;
    background-color: white;
    width: 100%;
    height: auto;
}

.banner{
    /* position: absolute; */
    /* z-index: 1; */
    width: 100%;
    height: auto;
    gap: 8px;
    display: grid;
    grid-template-columns: calc(50vw - 4px) calc(50vw - 4px);
    grid-template-rows: repeat(2, calc(25vw - 6px));
    background-color: #edebe9;  
}


.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.banner-img1{
    grid-row: 1 / -1;
}


.banner__img {
    position: relative;
}


a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

.line-grey{
    height: 8px;
    background-color: rgba(0, 0, 0, 0.1);;
}



@media screen and (max-width: 1023px) {
    .header{
        top: 0px;
        left: 0;
        height: 9vh;
        background-color: #fff;
        width: 100%;
    }


    .banner {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 0.4rem;
        padding-bottom: 4px;

      }
    
      .banner-img1 {
        grid-row: unset;
        grid-column: 1 / -1;
      }
      .banner img {
        width: 100%;
        height: auto;
      }


    
}