
@media screen and (min-width: 1024px){
.brew-products{
    background-color: unset;
    padding-top: 78px;
    padding-bottom: 80px;
}

.brew-products > h2{
    color: rgba(0, 0, 0, 0.87);
    font-size: 2rem;
    margin-bottom: 56px;
    word-spacing: 1rem;
    line-height: 2.1rem;
    border: 1px solid red;
    text-align: center;
}

}


.card{
    width: 100%;
}

.card img{
    width: 100%;
    height: 17rem;
    object-fit: cover;
    object-position: center;
}
